* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
    background-image: url(../image/nn.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav {
	display: block;
	width: 100%;
	background-color: #00000073;
	padding: 0 15px;
	font-size: 18px;
	position: relative;
	z-index: 8;
}

a {
	color: white;
	text-decoration: none;
}

.menu,
.submenu {
	list-style-type: none;
}

.logo {
	font-size: 20px;
	padding: 7.5px 10px 7.5px 0;
}

.item {
	padding: 10px;
}

.item.button {
	padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
	color: yellow;
	text-decoration: none;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    position: relative;
}

.menu li a {
	display: block;
	padding: 15px 5px;
	color: snow;
}

.menu li.subitem a {
	padding: 15px;
}

.toggle {
	order: 1;
	font-size: 20px;
}

.item.button {
	order: 2;
}

.item {
	order: 3;
	width: 100%;
	text-align: center;
	display: none;
}

.active .item {
	display: block;
}

.button.secondary {
	/* divider between buttons and menu links */
	border-bottom: 1px #444 solid;
}


/* Submenu up from mobile screens */

.submenu {
	display: none;
}

.submenu-active .submenu {
	display: block;
}

.has-submenu i {
	font-size: 12px;
}

.has-submenu>a::after {
	font-family: "Font Awesome 5 Free";
	font-size: 12px;
	line-height: 16px;
	font-weight: 900;
	content: "\f078";
	color: white;
	padding-left: 5px;
}

.subitem a {
	padding: 10px 15px;
}

.submenu-active {
	background-color: #111;
	border-radius: 3px;
}

.menu .active {
	background-color: red;
	z-index: 22222;
}

.logo span {
	color: red;
}

.logo #elec {
	color: snow;
}


/* Tablet menu */

@media all and (min-width: 700px) {
	.menu {
		justify-content: center;
	}
	.logo {
		flex: 1;
	}
	.item.button {
		width: auto;
		order: 1;
		display: block;
	}
	.toggle {
		flex: 1;
		text-align: right;
		order: 2;
	}
	/* Button up from tablet screen */
	.menu li.button a {
		padding: 10px 15px;
		margin: 5px 0;
	}
	.button a {
		background: #0080ff;
		border: 1px royalblue solid;
	}
	.button.secondary {
		border: 0;
	}
	.button.secondary a {
		background: transparent;
		border: 1px #0080ff solid;
	}
	.button a:hover {
		text-decoration: none;
	}
	.button:not(.secondary) a:hover {
		background: royalblue;
		border-color: darkblue;
	}
}


/* Desktop menu */

@media all and (min-width: 960px) {
	.menu {
		align-items: flex-start;
		flex-wrap: nowrap;
		background: none;
	}
	.logo {
		order: 0;
	}
	.item {
		order: 1;
		position: relative;
		display: block;
		width: auto;
	}
	.button {
		order: 2;
	}
	.submenu-active .submenu {
		display: block;
		position: absolute;
		left: 0;
		top: 68px;
		background: #111;
	}
	.toggle {
		display: none;
	}
	.submenu-active {
		border-radius: 0;
    }
}
/*************************************/
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content .background{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
    background-color: #000000a3;
}
.content  div:not(.background){
	text-align: left;
    max-height: 100px;
    position: absolute;
    top: 50%;
    left: 60px;
    margin-top: -125px;
}
.content div h1{
    font-size: 90px;
    padding: 14px;
    color: #fff;
}
.content div h1 span{
	color: #f00;
}
.content div p{
	margin: -20px 0 22px;
    padding: 0 80px;
    color: yellow;
}
.content div p span{
	display: block;
	font-size: 20px;
}
.content div a{
	margin: 5px 44px 2px;
    padding: 10px 95px;
    line-height: 1.9;
    border-radius: 0;	
}
@media (max-width:768px){
	.content div h1 {
		font-size: 65px;
		padding: 11px;
	}
	.content div p{
		margin: -16px 0 22px;
		padding: 0 35px;
	}
	.content div:not(.background) {
		left: 6px;
	}
	.content div a {
		margin: 5px 15px 2px;
	}
}
@media (max-width:350px){
	.content div h1 {
		font-size: 55px;
		padding: 11px;
	}
	.content div a {
		margin: 5px -8px 2px;
	}
}

footer{
	position: fixed;
    bottom: 50px;
    right: 1px;
    width: 50px;
    height: 60%;
    background-color: #00000073;
    padding: 10px 9px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	line-height: 1.2;
}
footer div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer div a{
	padding: 0 1px;
    font-size: 34px;
}
footer div a:nth-of-type(1) i{color: yellow;padding: 40px 0 0;}
footer div a:nth-of-type(2) i{color: #0a66c2;}
footer div a:nth-of-type(3) i{color: #ea4335;}
footer div a:nth-of-type(4) i{color: #25d366;}
@media (max-width:600px){
	footer{
		top: 73px;
		height: 64px;
		display: block;
		width: 100%;
	}
	footer div a:nth-of-type(1) i {
		color: yellow;
		padding: 0px 0 0;
}